{% extends "reviews/base.html"%}
{% block title%}
    <title>Your Review</title>
{%endblock%}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% comment %} <label for="username">Your name</label>
        <input id="username" name="username" type="text"></input> replaceable with form {% endcomment %} 
        {% for field in form %}
        <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{field}}
            {{field.errors}}
        </div>
        {% endfor %}

        <button>Send</button>
    </form>
    {% endblock content %}